* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  width: 900px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.cell_content {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}
